.menu-lg {
    li {
        a {
            font-size: 14px;
            letter-spacing: 2px;
            color: var(--black);
        }
    }
}

.lg-menu-drawer {
    .products {
        background-color: var(--black);
        color: var(--white);
        display: block;
        padding: 10px 16px;
        border-radius: 6px;
        transition: all 0.3s ease-out;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 14px;
        &:hover{
            background-color: #000;
        }
    }
}
.offcanvas{
    background-color: black;
    text-align: center;
    height: 100vh;
    width: 300px!important;
    a{
        color: var(--white);
    }
}

.mob-logo{
    height: 42px;
}

.head{
    width: 100%;
    padding: 48px 0px;
    z-index: 2;
    background: linear-gradient(180deg, #000 0%, rgba(255, 255, 255, 0.00) 100%);
    position: static;
}

@media (min-width: 992px) {
    .head{
        width: 100%;
        padding-top: 100px;
        position: absolute;
    }
}

